<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="content/site.css" />

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <!-- rainbow -->
    <link href="bower_components/rainbow/themes/github.css" rel="stylesheet" type="text/css">
    <script src="bower_components/rainbow/js/rainbow.js"></script>
    <script src="bower_components/rainbow/js/language/generic.js"></script>
    <script src="bower_components/rainbow/js/language/javascript.js"></script>
    <script src="bower_components/rainbow/js/language/html.js"></script>
    <!-- endrainbow -->


    <script src="../src/shims/function-name.js"></script>
    <script src="../src/ValidatorsProvider.js"></script>
    <script src="../src/NGDynamicValidator.js"></script>
    <script src="examples/demoApp.js"></script>

	<!-- examples -->
    
	<script src="examples/options/script.js"></script>
    <script src="examples/validate-request-event/script.js"></script>   
    <script src="examples/validate-together-groups/script.js"></script>
    <script src="examples/passing-values-to-built-in-validators/script.js"></script>
    <script src="examples/extend-validators-service/script.js"></script>
    <script src="examples/directive-controller/script.js"></script>

<title>NGDynamicValidator demo</title>
</head>
<body ng-app="DemoApp" ng-controller="ExamplesController">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div ng-repeat="example in examples">

                    <div class="page-header">
                        <h1>{{example.name}}</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-6 show-grid" ng-include="example.exampleUrl"></div>
                        <div class="col-md-6" ng-include="example.descriptionUrl"></div>
                    </div>

                    <hr />

                    <div class="row code">

                        <tabset>
                            <tab heading="{{tab.name}}" ng-repeat="tab in example.tabs">
                                <div ng-bind-code="tab.url" />
                            </tab>
                        </tabset>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>